// -------------- THEME SWITCHER -------------- //
@use "sass:map";

@mixin theme($scheme) {
  $--bg-color: map-get($scheme, "bg");
  $--primary-text-color: map-get($scheme, "primary-text");
  $--secondary-text-color: map-get($scheme, "secondary-text");
  $--link-color: map-get($scheme, "link");
  $--visited-link-color: map-get($scheme, "visited-link-color");
  $--h1-color: map-get($scheme, "h1");
  $--h2-color: map-get($scheme, "h2");
  $--h3-color: map-get($scheme, "h3");

  background-color: $--bg-color;
  color: $--primary-text-color;
  a {
    color: $--link-color;
    text-decoration: none;

    &:visited { color: $--visited-link-color; }
    &:hover { text-decoration: underline; }
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  figcaption { color: $--secondary-text-color; }

  :is(h1, h2, h3):target {
    background: none;
    text-decoration: underline;
  }

  h1 {
    color: $--h1-color;
    border-bottom: 2px solid $--primary-text-color;
  }

  h2 {
    color: $--h2-color;
    border-bottom: 2px solid $--primary-text-color;
  }

  h3 {
    color: $--h3-color;
    border-bottom: 2px solid $--primary-text-color;

  }
  .navbar {
    font-size: 1.125em;
    * {
      color: $--h2-color !important;
    }
  }
}

$scheme: (
  "bg": #282828,
  "primary-text": #ebdbb2,
  "secondary-text": #cc241d,
  "link": #689d6a,
  "visited-link": #b16286,
  "h1": #fb4934,
  "h2": #fabd2f,
  "h3": #b8bb26,
);

body {
  @include theme($scheme);
}

html { height: 100%; }

body {
  font-family: "Jetbrains Mono", "jf open 粉圓 2.0", monospace;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}



.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.toc {
  border: thin solid black;
  padding: 1rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

pre {
  background: black;
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

.title {
  font-size: 4rem;
}



h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

code {
  font-family: "Jetbrains Mono";
}

@font-face {
  font-family: "jf open 粉圓 2.0";
  src: url('/jf-openhuninn-2.0.woff2') format('woff2'),
       url('/jf-openhuninn-2.0.woff') format('woff'),
       url('/jf-openhuninn-2.0.ttf') format('truetype');
}
